<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-title>
      Найти груз
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
            <ion-item>
              <ion-label position="floating">Откуда</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Радиус, км</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Куда</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Радиус, км</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Вес, от</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Вес, до</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Объём, от</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Объём, до</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label position="floating">Дата погрузки</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2025-01-01" value="2020-01-01T15:03:46.789"></ion-datetime>
            </ion-item>
        </ion-list>
        <br>
              <ion-button (click) = "findCargo()" expand="full" color="success">Искать груз</ion-button>
            
       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>