<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-title>
      Перевозчики
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "orderList">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        
        <ion-card *ngFor="let order of orderList">
          <ion-item>
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-label>{{order.date}}</ion-label>
            <ion-button fill="outline" slot="end">Связаться</ion-button>
          </ion-item>
          <ion-card-header>
            <ion-card-subtitle>{{order.from}} - {{order.to}}</ion-card-subtitle>
            <ion-card-title>{{order.bet}} руб/км</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Автомобиль: {{order.carModel}}
            <br>
            Кузов: {{order.body}}
            <br>
            Тоннаж: {{order.capasity}} т.
            <br>
            Объём: {{order.volume}} м3
            <br>
            ID заказа {{order.id}}
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>