<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-title>
      Найдено 4 груза
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-xs="12">
           <ion-grid>
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size-xs="6">
                    <ion-label style="color: black;">
                      <p>Загрузка</p>
                      <h1>Москва</h1>
                      <h2>26 декабря</h2>
                    </ion-label>
                  </ion-col>
                  <ion-col size-xs="6">
                    <ion-label style="color: black">
                      <p>Разгрузка</p>
                      <h1>Буй</h1>
                      <h2>150 км от Кострома</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h1 style="color: dodgerblue;">45000 руб, 43 руб/км, НДС</h1>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size-xs="6">
                    <ion-label style="color: black;">
                      <p>Загрузка</p>
                      <h1>Москва</h1>
                      <h2>26 декабря</h2>
                    </ion-label>
                  </ion-col>
                  <ion-col size-xs="6">
                    <ion-label style="color: black">
                      <p>Разгрузка</p>
                      <h1>Иваново</h1>
                      <h2>100 км от Кострома</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h1 style="color: dodgerblue;">37000 руб, 38 руб/км, НДС</h1>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size-xs="6">
                    <ion-label style="color: black;">
                      <p>Загрузка</p>
                      <h1>Москва</h1>
                      <h2>26 декабря</h2>
                    </ion-label>
                  </ion-col>
                  <ion-col size-xs="6">
                    <ion-label style="color: black">
                      <p>Разгрузка</p>
                      <h1>Красное-на-волге</h1>
                      <h2>43 км от Кострома</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h1 style="color: dodgerblue;">30000 руб, 43 руб/км, НДС</h1>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size-xs="6">
                    <ion-label style="color: black;">
                      <p>Загрузка</p>
                      <h1>Москва</h1>
                      <h2>26 декабря</h2>
                    </ion-label>
                  </ion-col>
                  <ion-col size-xs="6">
                    <ion-label style="color: black">
                      <p>Разгрузка</p>
                      <h1>Нерехта</h1>
                      <h2>43 км от Кострома</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h1 style="color: dodgerblue;"> 25000 руб, 49 руб/км, НДС</h1>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
           </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>