<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-title>
      ООО АВТОИНВЕСТ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-row>
          <ion-col size-md="6">
            <ion-card>
              <ion-card-content>
                <img src="https://sun1-87.userapi.com/FJGAssnCHGDkqlujhkb0faoJOVc_ZZPbEhOgWA/DPW7X636zyU.jpg">
                <ion-button  slot="end">Редактировать</ion-button>
                <ion-button  slot="end"><ion-icon name="cellular-outline"></ion-icon></ion-button>
                <ion-button (click)="postAlert()"  slot="end"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
                <ion-button (click) = "presentActionSheet()" expand="block">Действия</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-md="6">
            <ion-card>
              <ion-item>
                <ion-label>ООО АВТОИНВЕСТ</ion-label>
                <ion-icon name="beer-outline" slot="end"></ion-icon>
              </ion-item>
            
              <ion-card-content>
               <ion-row>
                 <ion-col  size-md="4">
                  Профиль
                 </ion-col>
                 <ion-col style="color: black;" size-md="6">
                  Перевозчик
                 </ion-col>
               </ion-row>
               <ion-row>
                <ion-col  size-md="4">
                 Страна
                </ion-col>
                <ion-col style="color: black;" size-md="6">
                 Россия
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col  size-md="4">
                 Город
                </ion-col>
                <ion-col style="color: black;" size-md="6">
                 Кострома
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col  size-md="4">
                 Код ATI
                </ion-col>
                <ion-col style="color: black;" size-md="6">
                 100 100
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col  size-md="4">
                 ИНН
                </ion-col>
                <ion-col style="color: black;" size-md="6">
                 13372281488
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col  size-md="4">
                 ОГРНИП
                </ion-col>
                <ion-col style="color: black;" size-md="6">
                 100500100
                </ion-col>
              </ion-row>
              </ion-card-content>
            </ion-card>

            <ion-card >
              <ion-card-content>
                <ion-row>
                  <ion-col size-md="4" >
                    <h1 style="color: #3880ff;">30 ед.</h1>
                    <p>Транспорта</p>
                  </ion-col>
                  <ion-col size-md="4">
                    <h1 style="color: #3880ff;">12 лет</h1>
                    <p>На рынке</p>
                  </ion-col>
                  <ion-col size-md="4">
                    <h1 style="color: #3880ff;">3500+</h1>
                    <p>Перевозок</p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Описание</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h4>Наш автопарк состоит из грузовиков различной грузоподъёмности (1.5 - 20 тонн).
              Болшинство автомобилей оборудованы изотермическими фургонами или прицепами-рефрижераторами
            и предназначены для перевозки скоропортящихся товаров.</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4" size-xs="12">
        <ion-card (click)="selectCar()">
          <img src="https://sun9-61.userapi.com/impf/3dVSCsICE6QSqKZnWfOwhjLlFUsJcOOB0x5pKA/zw0b74kC5kE.jpg?size=1280x960&quality=96&proxy=1&sign=bdfca32c1ffcffe01d1e73646878965d">
          <ion-card-header>
            <ion-card-subtitle>Рефрижератор</ion-card-subtitle>
            <ion-card-title>Volvo FH-12</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-xs="12">
        <ion-card (click)="selectCar()">
          <img src="https://sun9-58.userapi.com/impf/RTqRXJZwk96CuxL_D27Vh6Z1vGezkorcqIugZg/4IORGSyc4cI.jpg?size=1280x960&quality=96&proxy=1&sign=f8ff900e767be02c25e657b971981d21"/>
          <ion-card-header>
            <ion-card-subtitle>Рефрижератор</ion-card-subtitle>
            <ion-card-title>Volvo FH-12</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4" size-xs="12">
        <ion-card (click)="selectCar()">
          <img src="https://sun9-41.userapi.com/impf/F_hDzU7kiZAvQ99W2k2ywboHi8NcYocg3Qw_yg/Og5UzfMoGm8.jpg?size=1280x960&quality=96&proxy=1&sign=2e355cf36ced2b9887a87c05a18ad250"/>
          <ion-card-header>
            <ion-card-subtitle>Рефрижератор</ion-card-subtitle>
            <ion-card-title>Mercedes-Benz Atego</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-xs="12">
        <ion-card (click)="selectCar()">
          <img src="https://sun9-5.userapi.com/impf/1rNOMN0y3VomQqukTlFqrl1BFM9CM46J2ZEeRg/CbBxLRtMjIw.jpg?size=1280x960&quality=96&proxy=1&sign=c0037919a07b06f752598463f1b46897"/>
          <ion-card-header>
            <ion-card-subtitle>Тент</ion-card-subtitle>
            <ion-card-title>Volvo FH-12</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4" size-xs="12">
        <ion-card (click)="selectCar()">
          <img src="https://sun9-34.userapi.com/impf/u-Wy_6Eqi3o0twY1z4iYWdTc6iCv1FvQ5f4ebA/0Ok3eVaBqpk.jpg?size=1280x960&quality=96&proxy=1&sign=77b5a593920d17d0703e80ab3073862b"/>
          <ion-card-header>
            <ion-card-subtitle>Рефрижератор</ion-card-subtitle>
            <ion-card-title>Mercedes-Benz Sprinter</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-xs="12">
        <ion-card (click)="selectCar()">
          <img src="https://sun9-40.userapi.com/impf/Wr9LIVIAsY6uSibXeU0NvD8XPxYRGpXdxRHItA/zLQd0JKOY58.jpg?size=1280x960&quality=96&proxy=1&sign=b999e0a93d63f12c97bef649fba41960"/>
          <ion-card-header>
            <ion-card-subtitle>Рефрижератор</ion-card-subtitle>
            <ion-card-title>Hyundai HD 78</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>